services:
  backend:
    container_name: app-backend
    build:
      context: ./server
      dockerfile: Dockerfile
      target: runner
    volumes:
      - ./server:/app
      - /build/node_modules
    networks:
      - project-network
    ports:
      - "3000:3000"

  frontend:
    container_name: app-frontend
    build:
      context: ./client
      dockerfile: Dockerfile
      target: runner
    volumes:
      - ./client:/app
      - /build/node_modules
    networks:
      - project-network
    ports:
      - "5173:5173"
    depends_on:
      - backend

networks:
  project-network:
    driver: bridge
